.mx-5 {
    max-width: 100%;
  }
  
  .cardImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .formCoordinats {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    height: 100%;
  }
  